@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
@model List<DoAnQLDichVu.Models.ProfileKhachHang>


<div class="mt-2">
    <table class="table table-centered mb-0">
        <thead>
            <tr>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Giới tính</th>
                <th>Ngày sinh</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var kh in Model)
            {
                <tr>
                    <td>@kh.HoTen</td>
                    <td>@kh.SoDienThoai</td>
                    <td>@kh.Email</td>
                    <td>@(kh.GioiTinh.HasValue ? (kh.GioiTinh.Value ? "Nam" : "Nữ") : "")</td>
                    <td>@kh.Ngaysinh</td>
                    <td>
                        <a asp-controller="ProfileKhachHang" asp-action="ProfileDetail" asp-route-id="@kh.IdKhachHang" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                    </td>  
                    <!-- Thêm các cột khác nếu cần thiết -->
                </tr>
            }
        </tbody>
    </table>
</div>